<section class="ep-statistics w-full max-w-6xl mx-auto py-24">
    <div class="ep-statistics__title-content flex items-center gap-6">
        <h2 class="ep-statistics__title text-brand-golden-100 text-xl md:text-2xl lg:text-4xl">Estadisticas</h2>
        <div class="h-px opacity-[0.05] flex-1 bg-brand-golden-100"></div>
    </div>

    <div class="ep-statistics__list grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="ep-statistics__statistic bg-brand-navy-300 border border-brand-golden-200/10 backdrop-blur-xl hover:border-brand-golden-200/30 hover:bg-brand-golden-200/15 transition-colors duration-500">
            <div class="h-2 w-2 p-1 absolute top-0 left-0 z-999 border-t border-l border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute top-0 right-0 z-999 border-t border-r border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute bottom-0 left-0 z-999 border-b border-l border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute bottom-0 right-0 z-999 border-b border-r border-brand-golden-300"></div>
            <span class="font-inter font-medium text-xs tracking-wider mb-4">{{"Proyectos" |uppercase}}</span>
            <div class="text-xl sm:text-3xl md:text-4xl font-bold text-brand-golden-300 font-code text-center">5+</div>
            <div class="bg-brand-golden-300 p-px w-full max-w-16"></div>
        </div>
        <div class="ep-statistics__statistic bg-brand-navy-300 border border-brand-golden-200/10 backdrop-blur-xl hover:border-brand-golden-200/30 hover:bg-brand-golden-200/15 transition-colors duration-500">
            <div class="h-2 w-2 p-1 absolute top-0 left-0 z-999 border-t border-l border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute top-0 right-0 z-999 border-t border-r border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute bottom-0 left-0 z-999 border-b border-l border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute bottom-0 right-0 z-999 border-b border-r border-brand-golden-300"></div>
            <span class="font-inter font-medium text-xs tracking-wider mb-4">{{"Experiencia" |uppercase}}</span>
            <div class="text-xl sm:text-3xl md:text-4xl font-bold text-brand-golden-300 font-code text-center">3+ Años</div>
            <div class="bg-brand-golden-300 p-px w-full max-w-16"></div>
        </div>
        <div class="ep-statistics__statistic bg-brand-navy-300 border border-brand-golden-200/10 backdrop-blur-xl hover:border-brand-golden-200/30 hover:bg-brand-golden-200/15 transition-colors duration-500">
            <div class="h-2 w-2 p-1 absolute top-0 left-0 z-999 border-t border-l border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute top-0 right-0 z-999 border-t border-r border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute bottom-0 left-0 z-999 border-b border-l border-brand-golden-300"></div>
            <div class="h-2 w-2 p-1 absolute bottom-0 right-0 z-999 border-b border-r border-brand-golden-300"></div>
            <span class="font-inter font-medium text-xs tracking-wider mb-4">{{"Enfoque" |uppercase}}</span>
            <div class="text-xl sm:text-3xl md:text-4xl font-bold text-brand-golden-300 font-code text-center">Full Stack Ingeniero de Software</div>
            <div class="bg-brand-golden-300 p-px w-full max-w-16"></div>
        </div>
    </div>


</section>