<section class="hero">
    <div class="hero__content">

        <p class="hero__eyebrow">
            Portafolio
        </p>

        <h1 class="hero__title">
            Euclides
            <br>
            Pérez
        </h1>

        <p class="hero__subtitle">
            Ingeniero de Software Full-Stack Developer
        </p>

        <div class="hero__actions">
            <a class="hero__button">
                {{ 'Projects' | uppercase }}
            </a>

            <a class="hero__button">
                {{ 'Experience' | uppercase }}
            </a>

            <a class="hero__button">
                {{ 'Skills' | uppercase }}
            </a>
        </div>

    </div>
</section>