<section class="hero w-full max-w-6xl mx-auto">
    <div class="hero__conten mb-8">

        <p class="hero__eyebrow">
            Portafolio
        </p>

        <h1 class="hero__title">
            Euclides
            <br>
            Pérez
        </h1>

        <p class="hero__subtitle">
            Ingeniero de Software, SR Java/Angular Developer
        </p>

        <div class="hero__actions">
            <a class="hero__button">
                {{ 'Projects' | uppercase }}
            </a>

            <a class="hero__button">
                {{ 'Experience' | uppercase }}
            </a>

            <a class="hero__button">
                {{ 'Skills' | uppercase }}
            </a>
        </div>

    </div>
</section>

<section class="w-full max-w-6xl mx-auto px-6">
    <app-focus-areas/>
</section>
