.ep-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 1.5rem;

    background-color: var(--color-brand-bg);
}

.ep-hero__content {
    position: relative;
    z-index: 10;

    text-align: center;
}

.ep-hero__eyebrow {
    margin-bottom: 1.5rem;

    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;

    color: var(--color-brand-golden-300);
}

.ep-hero__title {
    margin: 0;

    font-size: clamp(4rem, 10vw, 9rem);
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--color-brand-ivory-200);
}

.ep-hero__subtitle {
    max-width: 28rem;
    margin: 1.5rem auto 0;

    text-align: center;
    font-size: 1rem;

    color: var(--color-brand-golden-200);
}

.ep-hero__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;

    margin-top: 2rem;
}

.ep-hero__button {
    padding: 0.7rem 2rem;

    background-color: var(--color-brand-golden-300);
    color: var(--color-brand-navy-400);

    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    font-weight: 700;

    text-decoration: none;

    cursor: pointer;

    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
    clip-path: polygon(0% 26%, 0% 100%, 93% 99%, 100% 70%, 100% 0%, 7% 0%);

}

.ep-hero__button:hover {
    background-color: var(--color-brand-golden-400);
}

.ep-colaborate-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 260px;
    width: 100%;
    background: var(--color-brand-navy-300);
    border-radius: 10px;
}

.ep-colaborate__element {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: var(--color-brand-navy-300);
    text-align: center;
    position: absolute;
    z-index: 9;
    border-radius: 10px;
}

.ep-colaborate-card::after,
.ep-colaborate-card::before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: 1;
    border-radius: 10px;

    background: conic-gradient(from var(--angle),
            var(--color-brand-golden-400),
            var(--color-brand-navy-400),
            var(--color-brand-golden-300),
            var(--color-brand-navy-300),
            var(--color-brand-golden-400));

    animation: glowind-border 3.5s linear infinite;
}

.ep-colaborate__buton-contact {
    clip-path: polygon(0% 26%, 0% 100%, 93% 99%, 100% 70%, 100% 0%, 7% 0%);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes glowind-border {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}