:host {
  display: block;
}

footer {
  background-image:
    linear-gradient(to right, currentColor 1px, transparent 1px),
    linear-gradient(to bottom, currentColor 1px, transparent 1px);

  background-size: 45px 45px;

}