<footer
    class="ep-footer relative min-h-screen w-full text-brand-golden-100/3 bg-brand-navy-400 border-t border-brand-golden-200/30 flex flex-col font-space">
    <section class="relative x-10 w-full max-w-7xl mx-auto px-6 md:px-16 lg:px-24">
        <div class="ep-fotter_particle border-b border-brand-navy-200  w-full h-56 md:h-72 overflow-hidden py-6">
            <app-particle-canvas-component />
        </div>
    </section>

    <section class="ep-footer__colaborate w-full max-w-7xl mx-auto px-6 md:px-16 lg:px-24 pt-8">
        <div class="group text-brand-golden-300 flex items-center gap-4 uppercase text-[12px] py-4 md:py-6">
            <span class="h-1.5 w-1.5 bg-brand-golden-300"></span>
            <span>
                si te ha gustado lo que hago
            </span>
        </div>
        <div class="flex justify-between flex-wrap">
            <h3 class="flex items-start gap-1 lg:gap-2 flex-col text-2xl md:text-5xl">
                <span class="text-brand-ivory-400 font-inter justify-between font-normal uppercase tracking-widest">
                    Colaboremos
                </span>
                <span class="text-brand-golden-300 font-lobster">Para crear algo maravilloso.</span>
            </h3>
            <div class="flex items-center justify-start py-8 w-full max-w-64">
                <a [routerLink]="['/euclides/','contact']" class="ep-footer__colaborate__btn group">
                    <div class="flex gap-2 relative z-9 h-full w-full">
                        <span>
                            Contactame
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 relative z-99" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <g fill="none" stroke="currentColor" stroke-width="1.5">
                                <path
                                    d="M4.5 10c0-3.771 0-5.657 1.172-6.828S8.729 2 12.5 2H14c3.771 0 5.657 0 6.828 1.172S22 6.229 22 10v4c0 3.771 0 5.657-1.172 6.828S17.771 22 14 22h-1.5c-3.771 0-5.657 0-6.828-1.172S4.5 17.771 4.5 14z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 6H2m2.5 6H2m2.5 6H2m13.275-9.507a2 2 0 1 1-4 0a2 2 0 0 1 4 0M9.32 15.716c1.058-1.63 2.739-2.24 3.955-2.239s2.847.61 3.906 2.24a.33.33 0 0 1 .025.344c-.247.439-1.016 1.31-1.57 1.369c-.638.067-2.307.077-2.36.077s-1.773-.01-2.41-.077c-.556-.06-1.324-.93-1.572-1.37c-.061-.109-.043-.238.026-.344" />
                            </g>
                        </svg>
                    </div>

                </a>
            </div>
        </div>

    </section>

    <section class="w-full max-w-7xl mx-auto pt-16  pb-8 px-6 md:px-16 lg:px-24">
        <div class="grid grid-cols-1 lg:grid-cols-12 border-y border-y-brand-navy-200 w-full">
            <div class="ep-footer__description py-16 col-span-4">
                <section class="pr-4">
                    <div class="flex items-center gap-4 pb-8">
                        <span
                            class="p-6 w-6 h-6  flex items-center justify-center border border-brand-golden-300 text-brand-golden-300 text-center text-xl">
                            [<span class="text-sm text-center p-1 mt-1">EP</span>]
                        </span>
                        <span
                            class="uppercase text-brand-golden-100 font-semibold text-[12px] font-code tracking-[0.2em]">
                            Euclides Pérez
                        </span>
                    </div>
                    <div class="mb-8">
                        <p class="text-brand-golden-300/70 font-normal">
                            Ingeniero de Software y desarrollador con
                            enfoque en
                            aplicaciones backend.
                        </p>
                    </div>
                    <div class="border border-brand-navy-200/50 px-4 uppercase">
                        <span
                            class="block pt-4 pb-1 border-b border-brand-navy-200/40 text-brand-golden-200/80 text-[11px] tracking-widest">Tenologías
                            utilizadas aquí</span>
                        <span class="block pt-1 pb-4 text-brand-golden-100/50 text-[10px] tracking-widest">Angular,
                            TypeScript, Tailwindm, CSS, SPA, Signals, Effects, Zone.js
                            <br>
                            <br>
                            Ubicación: Colimbia - Medellín
                        </span>
                    </div>
                </section>
            </div>
            <div
                class="ep-footer__map col-span-3 py-16 lg:px-8 border-y lg:border-y-0 lg:border-x border-brand-navy-200">
                <h4
                    class="flex w-full text-center justify-start items-center gap-2 text-brand-golden-400 uppercase text-[12px] tracking-[0.1rem] mx-auto mb-8">
                    <span class="w-1.5 h-1.5 bg-brand-golden-200 block"></span>
                    <span>
                        Mapa del sitio
                    </span>
                </h4>
                <ul class="space-y-4 font-mono text-xs">
                    @for (route of routes(); track route.path; let index= $index) {
                    <li>
                        <a class="group flex items-center justify-between text-brand-golden-100/40 hover:text-brand-golden-300 transition-colors py-1"
                            href="" [routerLink]="['/euclides/', route.path]">
                            <span class="flex items-center gap-3">
                                <span
                                    class="text-brand-golden-300/30 group-hover:text-brand-golden-300/70 transition-colors">
                                    <span dir="auto">
                                        <span dir="auto">0 </span>
                                    </span>
                                    <span dir="auto">
                                        <span dir="auto">{{index + 1}} </span>
                                    </span>
                                    <span dir="auto">
                                        <span dir="auto">.</span>
                                    </span>
                                </span>
                                <span class="tracking-widest uppercase">
                                    <span dir="auto">
                                        <span dir="auto">{{route.label}}</span>
                                    </span>
                                </span>
                            </span>
                            <span
                                class="w-1.5 h-1.5 bg-brand-navy-300 group-hover:bg-brand-golden-300/70 transition-colors"></span>
                        </a>

                    </li>
                    }
                </ul>
            </div>
            <div class="ep-footer__contacts col-span-5 py-16 lg:pl-8">
                <div class="w-full">
                    <h4
                        class="flex w-full text-center justify-start items-center gap-2 text-brand-golden-400 uppercase text-[12px] tracking-[0.1rem] mx-auto mb-8">
                        <span class="w-1.5 h-1.5 bg-brand-golden-300 block"></span>
                        <span>
                            Contacto
                        </span>
                    </h4>
                    <div
                        class="ep-footer__network w-full pb-8 flex items-center justify-between flex-col md:flex-row gap-4 uppercase text-brand-golden-100">
                        <a href="https://www.linkedin.com/in/e-perez-in/"
                            class="w-full px-3 py-2 border border-brand-slate-400 text-center text-[12px] font-code flex items-center justify-center hover:text-brand-golden-300 hover:border-brand-golden-300 gap-4 transition-colors duration-500">
                            <span class="block">
                                linked_in
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-brand-golden-300"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path fill="currentColor"
                                    d="M18.44 3.06H5.56a2.507 2.507 0 0 0-2.5 2.5v12.88a2.507 2.507 0 0 0 2.5 2.5h12.88a2.5 2.5 0 0 0 2.5-2.5V5.56a2.5 2.5 0 0 0-2.5-2.5m1.5 15.38a1.51 1.51 0 0 1-1.5 1.5H5.56a1.51 1.51 0 0 1-1.5-1.5V5.56a1.51 1.51 0 0 1 1.5-1.5h12.88a1.51 1.51 0 0 1 1.5 1.5Z" />
                                <path fill="currentColor" d="M6.376 10.748a1 1 0 1 1 2 0v6.5a1 1 0 0 1-2 0Z" />
                                <circle cx="7.376" cy="6.744" r="1" fill="currentColor" />
                                <path fill="currentColor"
                                    d="M17.62 13.37v3.88a1 1 0 1 1-2 0v-3.88a1.615 1.615 0 1 0-3.23 0v3.88a1 1 0 0 1-2 0v-6.5a1.016 1.016 0 0 1 1-1a.94.94 0 0 1 .84.47a3.61 3.61 0 0 1 5.39 3.15" />
                            </svg>
                        </a>
                        <a href="https://github.com/euclidesseg"
                            class="w-full px-3 py-2 border border-brand-slate-400 text-center text-[12px] font-code flex items-center justify-center hover:text-brand-golden-300 hover:border-brand-golden-300 gap-4 transition-colors duration-500">
                            <span class="block">
                                Github_Hub
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-brand-golden-300"
                                viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5">
                                    <path d="M10 20.568c-3.429 1.157-6.286 0-8-3.568" />
                                    <path
                                        d="M10 22v-3.242c0-.598.184-1.118.48-1.588c.204-.322.064-.78-.303-.88C7.134 15.452 5 14.107 5 9.645c0-1.16.38-2.25 1.048-3.2c.166-.236.25-.354.27-.46c.02-.108-.015-.247-.085-.527c-.283-1.136-.264-2.343.16-3.43c0 0 .877-.287 2.874.96c.456.285.684.428.885.46s.469-.035 1.005-.169A9.5 9.5 0 0 1 13.5 3a9.6 9.6 0 0 1 2.343.28c.536.134.805.2 1.006.169c.2-.032.428-.175.884-.46c1.997-1.247 2.874-.96 2.874-.96c.424 1.087.443 2.294.16 3.43c-.07.28-.104.42-.084.526s.103.225.269.461c.668.95 1.048 2.04 1.048 3.2c0 4.462-2.134 5.807-5.177 6.643c-.367.101-.507.559-.303.88c.296.47.48.99.48 1.589V22" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="border-b border-brand-navy-200 pt-4 pb-4">
                        <span class="block text-[10px] uppercase tracking-widest text-brand-golden-300 mb-2">
                            Intereses
                        </span>

                        <p class="text-sm text-brand-golden-100/70 leading-relaxed">
                            Software, astronomía, ciencia y matemáticas.
                        </p>
                    </div>
                    <div class="border-b border-brand-navy-200 pt-4 pb-4">
                        <span class="block text-[10px] uppercase tracking-widest text-brand-golden-300 mb-2">
                            Curiosidad
                        </span>

                        <p class="text-sm text-brand-golden-100/70 leading-relaxed">
                            Una mente curiosa, siempre aprendiendo y
                            construyendo.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <span
            class="py-2 mt-2 block pr-4 text-brand-golden-300/30 text-[10px] uppercase tracking-widest font-code">{{"©"}}{{year()}}
            | Hecho con cariño por Euclides Pérez</span>
    </section>
</footer>