  <!-- NUEVA SECCIÓN: HABILIDADES BLANDAS (CINTAS INCLINADAS) -->
  <section class="ep-soft-skills-container">
    <!-- Cinta oscura (Gira hacia arriba) -->
    <div class="ep-soft-skills__ribbon ribbon-navy">
        <div class="ribbon__track">
            <div class="ribbon__group">
                <span>EMPATICO</span> <span class="code">&lt;&gt;</span>
                <span>PROACTIVO</span> <span class="code">&lt;&gt;</span>
                <span>COLABORADOR</span> <span class="code">&lt;&gt;</span>
                <span>EMPATICO</span> <span class="code">&lt;&gt;</span>
                <span>PROACTIVO</span> <span class="code">&lt;&gt;</span>
                <span>COLABORADOR</span> <span class="code">&lt;&gt;</span>
            </div>
            
            <!-- Duplicado para bucle infinito -->
            <div class="ribbon__group">
                <span>EMPATICO</span> <span class="code">&lt;&gt;</span>
                <span>PROACTIVO</span> <span class="code">&lt;&gt;</span>
                <span>COLABORADOR</span> <span class="code">&lt;&gt;</span>
                <span>EMPATICO</span> <span class="code">&lt;&gt;</span>
                <span>PROACTIVO</span> <span class="code">&lt;&gt;</span>
                <span>COLABORADOR</span> <span class="code">&lt;&gt;</span>
            </div>
        </div>
    </div>

    <!-- Cinta dorada (Gira hacia abajo) -->
    <div class="ep-soft-skills__ribbon ribbon-golden">
        <div class="ribbon__track">
            <div class="ribbon__group">
                <span>CREATIVO</span> <span class="code">{{"&lt;/&gt;"}}</span>
                <span>DEDICADO</span> <span class="code">&lt;&gt;</span>
                <span>INNOVADOR</span> <span class="code">&lt;&gt;</span>
                <span>CREATIVO</span> <span class="code">{{"&lt;/&gt;"}}</span>
                <span>DEDICADO</span> <span class="code">&lt;&gt;</span>
                <span>INNOVADOR</span> <span class="code">&lt;&gt;</span>
            </div>
            <!-- Duplicado para bucle infinito -->
            <div class="ribbon__group">
                <span>CREATIVO</span> <span class="code">&lt;&gt;</span>
                <span>DEDICADO</span> <span class="code">&lt;&gt;</span>
                <span>INNOVADOR</span> <span class="code">&lt;&gt;</span>
                <span>CREATIVO</span> <span class="code">&lt;&gt;</span>
                <span>DEDICADO</span> <span class="code">&lt;&gt;</span>
                <span>INNOVADOR</span> <span class="code">&lt;&gt;</span>
            </div>
        </div>
    </div>
  </section>