<section class="w-full max-w-6xl mx-auto">
<ul class="list-none w-full focus__area-list flex items-center justify-between gap-4">
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
</ul>
<ul class="list-none w-full focus__area-list flex items-center justify-between gap-4">
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
</ul>
<ul class="list-none w-full focus__area-list flex items-center justify-between gap-4">
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
</ul>
<ul class="list-none w-full focus__area-list flex items-center justify-between gap-4">
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
</ul>
<ul class="list-none w-full focus__area-list flex items-center justify-between gap-4">
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
</ul>
<ul class="list-none w-full focus__area-list flex items-center justify-between gap-4">
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
</ul>
<ul class="list-none w-full focus__area-list flex items-center justify-between gap-4">
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
    <li class="area__item h-auto min-h-32 border border-brand-golden-200 w-full rounded-xl"></li>
</ul>
</section>