<section class="w-full max-w-6xl mx-auto ep-focus__areas mb-2">
    <div class="ep-focus__area-title-content flex items-center gap-6">
        <h2 class="ep-focus__areas--title text-brand-golden-100">Áreas de Interés</h2>
        <div class="h-px flex-1 bg-brand-golden-200/10"></div>
    </div>
    <div class="ep-focus__area-list min-w-full grid md:grid-cols-2 lg:grid-cols-3 gap-6">

        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
        <div class="ep-area__item opacity-[1] transform-none">
            <div    
                class="ep-area__item-content relative group overflow-hidden 
                    rounded-xl border border-brand-golden-200/10
                    backdrop-blur-md p-6 h-full transition-all duration-500 
                    hover:border-brand-golden-300/40 
                    flex flex-col justify-between cursor-default">
                <div class="background__point absolute inset-0 opacity-[0.01] group-hover:opacity-[0.2] transition-opacity duration-500 pointer-events-none">

                </div>
            </div>
        </div>
    </div>

</section>