@import "tailwindcss";

@theme {
  /* Background */
  --color-brand-bg: #0c101b;
  --color-brand-surface: #111827;
  --color-brand-surface-light: #151d2b;

  /* Borders */
  --color-border-main: #212935;
  --color-border-secondary: #c5a880;
  --color-border-tertiary: #1f2b47;

  /* Text */
  --color-text-primary: #e8e5df;
  --color-text-secondary: #c5a880;
  --color-text-muted: #7f8796;

  /* Accent */
  --color-accent: #c5a880;
  --color-accent-light: #d8bd96;
}


html,
body {
    font-family: 'Inter';
  background-color: var(--color-brand-bg);
  color: var(--color-text-primary);
}
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  min-height: 100%;
  overflow-x: hidden;
}
html,
body,
app-root {
  overflow-x: hidden;
}

/* Scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
app-root::-webkit-scrollbar {
  width: 7px;
}

/* ELIMINAR FLECHAS */
html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
app-root::-webkit-scrollbar-button {
  display: none !important;
}

/* Track */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
app-root::-webkit-scrollbar-track {
  background: var(--color-brand-surface-light);
}

/* Thumb */
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
app-root::-webkit-scrollbar-thumb {
  background: var(--color-border-tertiary);
  border-radius: 4px;
  border: 1px solid var(--color-border-main);
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
app-root::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
